<html>
<head>
    <title>代理池首页</title>
</head>

<body>
<h1 style="text-align:center">IP代理使用简介</h1>
<h3 style="text-align:center"><a href="http://127.0.0.1:55555/messages", target="_blank">可在状态页面查看参数</a></h3>


<h4 style="margin-left:320px">获取IP代理：(/random)</h4>
<small style="margin-left:350px">例如：http://127.0.0.1:55555/random?type=https&detection=baidu&limit=100</small>
<ul style="margin-left:320px">
   <li style = "line-height:2">type：<span style="margin-left:60px">获取IP的类型</span></li>
   <li style = "line-height:2">detection：<span style="margin-left:20px">获取IP的建筑网站</span></li>
   <li style = "line-height:2">limsit：<span style="margin-left:50px">获取IP的数量</span></li>
</ul>  

<h4 style="margin-left:320px">删除IP代理：(/delete)</h4>
<small style="margin-left:350px">例如：http://127.0.0.1:55555/delete?proxy=112.85.130.209:9999&type=https&detection=baidu&pid=1</small>
<ul style="margin-left:320px">
   <li style = "line-height:2">iport：<span style="margin-left:57px">需要删除的IP</span></li>
   <li style = "line-height:2">type：<span style="margin-left:60px">需要删除的IP类型</span></li>
   <li style = "line-height:2">detection：<span style="margin-left:21px">需要删除的IP的检测类型</span></li>
   <li style = "line-height:2">pid：<span style="margin-left:69px">IP的可用类型</span></li>
</ul> 

<h4 style="margin-left:320px">IP代理池状态：(/messages)<a href="http://127.0.0.1:55555/messages", style="margin-left:50px", target="_blank">点此跳转</a></h4>

</ul> 



</body>
</html>
